<?xml version="1.0"?>
<config>
    <fieldset name="global" label="JGLOBAL_FIELDSET_OPTIONS">
		<field 
				name="field_delimiter"
				type="text"
				label="COM_MINICCKIMPORT_FIELD_DELIMITER"
				required="true"
				default="^"
				size="10"
				class=""/>
		<field 
				name="text_delimiter"
				type="text"
				label="COM_MINICCKIMPORT_TEXT_DELIMITER"
				required="true"
				default="~"
				size="10"
				class=""/>
		<field
				name="header_row"
				type="text"
				label="COM_MINICCKIMPORT_HEADER_ROW"
				required="true"
				default="1"
				size="10"
				class=""/>
		<field
				name="content_row"
				type="text"
				label="COM_MINICCKIMPORT_CONTENT_ROW"
				required="true"
				default="2"
				size="10"
				class=""/>
        <field
                name="cols_delimiter"
                type="text"
                label="COM_MINICCKIMPORT_COLS_DELIMITER"
                description="COM_MINICCKIMPORT_COLS_DELIMITER_DESC"
                required="true"
                default="::"
                size="10"
                class=""/>
        <field
                name="rows_delimiter"
                type="text"
                label="COM_MINICCKIMPORT_ROWS_DELIMITER"
                description="COM_MINICCKIMPORT_ROWS_DELIMITER_DESC"
                required="true"
                default="\n"
                size="10"
                class=""/>
        <field
                name="dafault_cat"
                type="category"
                label="COM_MINICCKIMPORT_CATEGORY"
                description="COM_MINICCKIMPORT_CATEGORY_DESC"
                extension="com_content"
                class="inputbox"
                />
        <field
                name="dafault_second_cat"
                type="category"
                label="COM_MINICCKIMPORT_SECOND_CATEGORY"
                description="COM_MINICCKIMPORT_SECOND_CATEGORY_DESC"
                multiple="true"
                extension="com_content"
                class="inputbox"
                />
        <field
                name="maincat_col"
                type="list"
                label="COM_MINICCKIMPORT_CATEGORY_COL"
                description="COM_MINICCKIMPORT_CATEGORYY_COL_DESC"
                extension="com_content"
                class="inputbox"
                default="1"
                >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                name="seccats_col"
                type="list"
                label="COM_MINICCKIMPORT_SECOND_CATEGORY_COL"
                description="COM_MINICCKIMPORT_SECOND_CATEGORYY_COL_DESC"
                extension="com_content"
                class="inputbox"
                default="1"
                >
            <option value="1">JYES</option>
            <option value="0">JNO</option>
        </field>
        <field
                name="default_type"
                type="text"
                label="COM_MINICCKIMPORT_DEFAULT_TYPE"
                default="content_type_0"
                class="inputbox"
                filter=""/>
    </fieldset>

    <fieldset
            name="permissions"
            label="JCONFIG_PERMISSIONS_LABEL"
            description="JCONFIG_PERMISSIONS_DESC"
            >
        <field
                name="rules"
                type="rules"
                label="JCONFIG_PERMISSIONS_LABEL"
                class="inputbox"
                validate="rules"
                filter="rules"
                component="com_minicckimport"
                section="component"/>
    </fieldset>
</config>